/* Faux Mock Newspaper Front Page CSS */

.container-row {
	background-color: hsl(0, 0%, 96%);
	width: 78%;
	margin: 0 auto;
}

#main-title {
	text-align: center;
	margin-top: 30px;
	color: #0f3057;
	font-size: 50px;
	font-family: 'Playfair Display', serif;
}

#nav-container {
	clear: both;
	margin: 0 auto;
	border-bottom: 2px solid;
	padding-top: 12px;
	padding-bottom: 10px;
}

#topic-headlines {
	float: left;
	margin: 0 auto;
	margin-left: 90px;
	font-size: 18px;
	word-spacing: 10px;
	text-align: center;
	font-family: 'Roboto', sans-serif;
}

ul li {
	display: inline-block;
	letter-spacing: 1px;
}

#date-number {
	float: right;
	font-size: 18px;
	margin-left: 50px;
	color: #0f3057;
	font-family: 'Roboto', sans-serif;
}

#news-columns {
	background-color: #fffafa;
}

#news-sections {
	margin-top: 20px;
	padding-left: 40px;
	text-align: justify;
}

#news-column2 {
	border-left-style: solid;
	border-width: 1px;
	width: 80%;
}

.news-sections-2 {
	margin-top: 23px;
	padding-left: 25px;
}

#headliner {
	text-align: center;
	margin-top: 20px;
	font-size: 25px;
	font-weight: 490;
	padding-bottom: 5px;
}

#headline-image {
	margin-bottom: 20px;
}

footer {
	bottom: 0;
	background-color: #C0C0C0;
}

.footer-container {
	width: 100%;
	font-size: 16px;
	text-align: center;
	padding: 5px 0;
	padding-top: 12px;
	color: #ff7400;
}


/* MOCK ABOUT US WEBPAGE CSS*/
.about-us-body {
	background: url("../images/bakery.jpg");
	background-repeat: no-repeat;
	background-position: center;
	background-attachment: fixed;
}

#main-logo {
	font-size: 36px;
	margin-right: 40px;
	margin-left: 14px;
	font-family: 'Cormorant', serif;
	color: #835858;
}

.nav-link {
	font-size: 18px;
	color: red;
}

.container {
	background-color: white;
	margin-top: 110px;
	width: 907px;
	padding: 53px;
	opacity: 0.85;
}

#col-1 {
	padding-top: 55px;
	text-align: center;
}

#col-2 {
	text-align: justify;
}

#col-title1 {
	font-family: 'Merriweather', serif;
	font-size: 36px;
	text-align: center;
}

#julia-child {
	font-family: 'Merriweather', serif;
	font-size: 31px;
	margin-top: -10px;
}

#col-title2 {
	padding-bottom: 17px;
	text-align: center;
	color: #835858;
	font-family: 'Raleway', sans-serif;
}

#mission-statement {
	font-size: 16px;
	font-family: 'Merriweather', serif;
}

.footer-bottom {
	background-color: black;
	text-align: center;
	bottom: 0;
	width: 100%;
	position: fixed;
	padding-top: 7px;
}

.footer-style {
	font-size: 15px;
}

/* mock-productpage.HTML CSS  */
#bread-section {
	background-color: #FFFFFF;
	margin-top: 10px;
	width: 1200px;
	padding: 53px;

}


#product-row {
	background-color: #F8F9FA;
}

#pic-col {
	/* padding-top: 55px;
	text-align: center; */
	background: url("../images/bread.jpg");
	background-position: center;
	background-repeat: no-repeat;
	height: 450px;
}

/* #bread-pic {
	height: 300px;
	width: 300px;
} */

#product-detail {
	text-align: justify;
}


#product-title {
	padding-bottom: 17px;
	text-align: center;
	color: #835858;
	font-family: 'Raleway', sans-serif;
	font-size: 30px;
	margin-top: 40px;
}

#bread-info {
	font-size: 16px;
	font-family: 'Merriweather', serif;
	width: 78%;
	margin: 0 auto;
	text-align: justify;
}