/* FAUX PAPER CSS */

/* Header Section/Area */
.container {
    background-color: hsl(0, 0%, 96%);
}

#main-title {
    text-align: center;
    margin-top: 30px;
    background-color: orange;
}

#nav-container {
    clear: both;
    margin: 0 auto;
    background-color: green;
    border-bottom: 2px solid;
    padding-top: 20px;
}

#topic-headlines {
    float: left;
    margin: 0 auto;
    margin-left: 90px;
    font-size: 18px;
    word-spacing: 10px;
    text-align: center;
    /* margin-bottom: 30px; */
}

ul li {
    display: inline-block;
    letter-spacing: 1px;
}

#date-number {
    float: right;
    font-size: 18px;
    margin-left: 50px;
}

#news-columns {
    background-color: #fffafa;
}

#news-sections {
    margin-top: 20px;
    padding-left: 40px;
    text-align: justify;
}

#news-column2 {
    border-left-style: solid;
    border-width: 1px;
}

.news-sections-2 {
    margin-top: 23px;
    padding-left: 25px;
}

#headliner {
    text-align: center;
    margin-top: 20px;
}

#headline-image {
    padding-left: 30px;
    margin-bottom: 20px;
}