/* Faux Mock Newspaper Front Page CSS */

.container {
	background-color: hsl(0, 0%, 96%);
}

#main-title {
	text-align: center;
	margin-top: 30px;
	color: #ff7400;
	font-size: 50px;
	font-family: 'Gravitas One', cursive;
}

#nav-container {
	clear: both;
	margin: 0 auto;
	border-bottom: 2px solid;
	padding-top: 12px;
	padding-bottom: 10px;
}

#topic-headlines {
	float: left;
	margin: 0 auto;
	margin-left: 90px;
	font-size: 18px;
	word-spacing: 10px;
	text-align: center;
	font-family: 'Roboto', sans-serif;
}

ul li {
	display: inline-block;
	letter-spacing: 1px;
}

#date-number {
	float: right;
	font-size: 18px;
	margin-left: 50px;
	color: #ff7400;
	font-family: 'Roboto', sans-serif;
}

#news-columns {
	background-color: #fffafa;
}

#news-sections {
	margin-top: 20px;
	padding-left: 40px;
	text-align: justify;
}

#news-column2 {
	border-left-style: solid;
	border-width: 1px;
}

.news-sections-2 {
	margin-top: 23px;
	padding-left: 25px;
}

#headliner {
	text-align: center;
	margin-top: 20px;
	font-size: 29px;
	font-weight: 450;
	padding-bottom: 5px;
}

#headline-image {
	margin-bottom: 20px;
}

footer {
	width: 100%;
	bottom: 0;
	background-color: #C0C0C0;
}

.footer-container {
	width: 100%;
	font-size: 16px;
	text-align: center;
	padding: 5px 0;
	padding-top: 15px;
	color: #ff7400;
}


/* MOCK ABOUT US WEBPAGE CSS*/
body {
	background: url("../images/bakery.jpg");
	background-repeat: no-repeat;
	background-position: center;
	background-attachment: fixed;
}

.navbar-brand {
	font-size: 30px;
	margin-right: 40px;
	margin-left: 10px;
	color: blue;
}


.nav-link {
	font-size: 18px;
	color: red;
}

.container {
	/* background-color: #835858; */
	background-color: white;
	margin-top: 120px;
	width: 900px;
	padding: 50px;
	opacity: 0.9;
}

#col-1 {
	padding-top: 55px;
	text-align: center;
}

#col-2 {
	text-align: justify;
}

#col-title {}

#col-title2 {
	padding-bottom: 20px;
	text-align: center;
}